
body {
  background-color: #333333;
}

.navbar {
  flex-wrap: inherit;
}

.navbar-toggler {
  padding: 5px;
  font-size: 15px;
}


.navbar-nav {
  flex-direction: row;
}

.navbar-nav {

  .nav-link {
    padding-left: 5px;
    padding-right: 5px;
    opacity: 0.5s inherit;
    color: white !important;
    font-size: 14px;
  }
}

.navbar-nav {
  .nav-link {
    :hover {
      color: gray !important;
    }
  }
}

.card {
  cursor: pointer;
  color: white;
  mia-height: 411px;

  &:hover {
    background-color: #007fffd9 !important;
  }
}

.col-md-2 {
  padding: 5px;
}

.films {
  justify-content: center;
}

.card-title {
  font-size: 13px;
}


.card-img-top {
  height: 370px;
}

.card {
  height: 510px;
}

.player{
  flex-wrap: wrap;

}

@media only screen and (max-width: 500px) {
  .card-img-top {
    height: 100%;
  }

  .card {
    height: 100%;
  }

}