$main_blue1: #e24d25;


.dropdown-menu {

  min-width: max-content;
  background-color: #2d324070;
  font-size: 13px;
  top: 54px;
  border-radius:0 !important;
}

.dropdown-item {
  color: white;

  &:hover {
    background-color: #2d324070;
    color: $main_blue1;
  }

}

.dropdown-toggle {
  font-size: 14px;
  padding: 10px;
  &:after {
    vertical-align: 0;
  }

}

.navbar {

  top: 32px;
  background-color: #2d3240a8;

  .active {
    color: $main_blue1 !important;
  }

  .nav-lang {

    margin-top: 8px;

  }

  .nav-item {

    .nav-link {
      color: white;

      &:hover {
        color: $main_blue1;
      }
    }

  }
}

.navbar {

  .fa-bars {
    color: #e9e8ea;
    font-size: 25px;
  }

  .navbar-toggler {
    border: none;
  }

  .navbar-brand {

    img {
      width: 40px;
    }

  }

  .nav-lan {

    color: #e9e8ea;
    border: none;

    &:hover {
      color: $main_blue1;
    }

  }

}


.nav-fix {

  &.active {
    top: 0;
  }
}
