$main_blue: #99a9b5;
$main_pur: #e24d25;
$main_dark_pur: #462188;
$main_white: #e9e8ea;


@import "nav";

.mt-15 {
  margin-top: 100px;
}

.menwer {

  background-color: #212331;
  color: $main_white;
  position: fixed;
  top: 0;
  z-index: 9;
  font-size: 10px !important;

  &.active {
    top: -50px;

  }

  a {
    color: $main_white;
    text-decoration: none;
    background-color: transparent;

    &:hover {
      text-decoration: none;
      color: $main_white;
    }
  }

  div {
    border-color: $main_pur !important;
  }

  border-bottom: $main_pur solid 1px;

  i {
    color: $main_pur;
  }


}


.servis-section {
  background-color: #0000005e;
  padding-top: 40px;
  padding-bottom: 62px;


  .row {

    .col-12 {

      h2 {
        color: $main_pur;
        position: relative;
        padding-bottom: 10px;

        &:after {
          position: absolute;
          content: '';
          width: 35px;
          left: 0;
          right: 0;
          margin: 0 auto;
          height: 1px;
          background-color: $main_pur;
          bottom: 0;
        }
      }

      p {
        color: $main_white;
      }
    }


    .bg-light {

      background-color: #21233147 !important;
      transition: 0.5s;

      &:hover {
        background-color: #888ba2c9 !important;
      }

      h5 {
        color: $main_pur;
      }

      p {
        color: $main_white;
      }


    }


    .btn-primary {

      background-color: white;
      border-color: $main_pur;
      padding: 3px 8px;
      font-size: 14px;
      transition: 0.5s;

      &:hover {
        background-color: $main_dark_pur;
      }

      &:hover > a {
        text-decoration: none;
        color: white;
      }

      a {
        transition: 0.5s;
        color: $main_pur;
      }

    }
  }

  img {

    border-radius: 5px;

  }


}


.car-po-nk {
  width: 45px !important;
  height: 25px !important;
  overflow: hidden;
}


.page {
  //background-image: url("../img/new-bg.jpg") !important;
}


.servis-view-section {


  background-color: #e5f7f78a;


  .bg-light {
    background-color: #21233117 !important;
  }

  .carousel-control-next, .carousel-control-prev {

    font-size: 26px;
    width: 5%;

  }

  .fa {
    color: $main_pur;
    font-size: 28px;

    &:hover {
      color: $main_dark_pur;
    }
  }

  .pt-2 {
    color: $main_pur;
    position: relative;
    overflow: hidden;
    left: -10px;

    &:after {

      position: absolute;
      content: '';
      width: 35px;
      left: 0;
      height: 1px;
      background-color: $main_pur;
      bottom: 0;

    }
  }


  .col-lg-5 {

    .carousel {
      -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    }
  }

  .col-12 {
    h2 {
      color: $main_pur;
      position: relative;
      padding-bottom: 10px;

      &:after {

        position: absolute;
        content: '';
        width: 35px;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: 1px;
        background-color: $main_pur;
        bottom: 0;

      }
    }
  }


  .owl-all-services {
    a {

      &:hover {
        text-decoration: none;
      }

      h5 {

        color: $main_pur;
        position: relative;
        padding-bottom: 5px;
        margin-bottom: 7px;

        &:after {

          position: absolute;
          content: '';
          width: 25px;
          left: 0;
          height: 1px;
          background-color: $main_pur;
          bottom: 0;

        }

      }

      p {
        color: #0f0f0f;
      }

    }
  }

  .cc {
    transition: 0.5s;

    &:hover {
      -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    }
  }

}


/*About*/

.team-section {

  position: relative;
  margin-top: 20px;
  margin-bottom: 40px;
  //background-image: url("../img/tim-bg.jpg");
  background-size: cover;
  background-position: center;
  padding-bottom: 40px;

  .layer {

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #0e0d0d57;
  }
}


.team {

  .col-12 {

    h2 {
      color: $main_pur;
      position: relative;
      padding-bottom: 10px;

      &:after {
        position: absolute;
        content: '';
        width: 35px;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: 2px;
        background-color: $main_pur;
        bottom: 0;
      }

    }

    p {
      color: $main_white;
    }

  }

  .col-lg-2 {

    border-radius: 10px;
    background-color: #99a9b54d !important;
    transition: 0.3s;

    &:hover {
      background-color: #99a9b582 !important;
    }

    h1 {

      color: $main_pur;

    }

    h5 {

      color: black;

    }
  }


}


.about-page {
  padding-bottom: 35px;
  background-color: #e5f7f78a;


  .row {

    .col-12 {

      h2 {
        color: $main_pur;
        position: relative;
        padding-bottom: 10px;

        &:after {
          position: absolute;
          content: '';
          width: 35px;
          left: 0;
          right: 0;
          margin: 0 auto;
          height: 2px;
          background-color: $main_pur;
          bottom: 0;
        }

      }

    }

    .col-lg-6 {

      h3 {

        color: $main_pur;

      }

    }

    .row {

      background-color: #99a9b54d;
      transition: 0.3s;

      &:hover {
        background-color: #99a9b582 !important;
      }

    }

  }
}


//


.one-list, .one-list1 {
  .container-fluid {

    .col-lg-8 {

      h4 {

        color: $main_pur;
        position: relative;
        font-size: 30px;
        padding-bottom: 10px;

        &:after {

          position: absolute;
          content: '';
          width: 25px;
          left: 0;
          height: 1px;
          background-color: $main_pur;
          bottom: 0;

        }

      }

      h6 {
        font-size: 15px;
      }

    }

    .btn-primary {
      background-color: $main_white;
      border-color: $main_pur;
      padding: 3px 8px;
      font-size: 14px;
      transition: 0.5s;


      &:hover {
        background-color: $main_dark_pur;
        color: $main_white;
      }

      &:hover > a {
        color: $main_white;
      }

      a {
        color: $main_pur;
        text-decoration: none;
        transition: 0.5s;
      }

    }

  }

}


.news-page {

  .news {

    .container-fluid {


      background-color: #99a9b54d;
      transition: 0.3s;

      &:hover {
        background-color: rgba(153, 169, 181, 0.51);
      }

      .btn-primary {
        background-color: $main_white;
        border-color: $main_pur;
        padding: 3px 8px;
        font-size: 14px;
        transition: 0.5s;

        &:hover {
          background-color: $main_dark_pur;
          border-color: $main_white;
        }

        &:hover > a {
          color: $main_white;
          text-decoration: none;
        }

        a {
          color: $main_pur;
          transition: 0.5s;
        }

      }

    }

  }
}

.news-view-section {

  .news {

    .row {

      .col-12 {
        color: $main_pur;
      }

      .col-lg-8 {
        h4 {
          color: $main_pur;
        }

      }
    }

  }

}

.news-section {

  background-color: #e5f7f78a;

  .fa {
    color: $main_pur;
  }


}

.news {

  .row {

    .carousel-inner {

      background-color: #99a9b54d;
      transition: 0.3s;

      &:hover {
        background-color: #99a9b582;
      }

    }

    .col-12 {

      h2 {
        color: $main_pur;
        position: relative;
        padding-bottom: 10px;

        &:after {

          position: absolute;
          content: '';
          width: 35px;
          left: 0;
          right: 0;
          margin: 0 auto;
          height: 1px;
          background-color: $main_pur;
          bottom: 0;

        }

      }
    }

    .col-lg-8 {
      h4 {
        color: $main_pur;
        position: relative;
        padding-bottom: 10px;

        &:after {

          position: absolute;
          content: '';
          width: 25px;
          left: 0;
          height: 1px;
          background-color: $main_pur;
          bottom: 0;

        }

      }

      .btn-primary {


        &:hover > a {
          color: $main_white;
        }

        .a {
          text-decoration: none;
          color: $main_pur;
        }

      }

    }

  }


  .carousel-control-next, .carousel-control-prev {

    font-size: 26px;
    width: 1%;

  }

  .carousel-control-next {

    right: -20px;

  }

  .carousel-control-prev {

    left: -20px;

  }
}

.pb-15 {
  padding-bottom: 130px !important;
}

.contact-pag {

  //background-image: url("../img/cont-bg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  color: $main_white;
  font-size: 13px;

  .layer {

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #00000069;

  }

  .col-12 {
    h2 {
      color: $main_pur;
      position: relative;
      padding-bottom: 10px;

      &:after {
        position: absolute;
        content: '';
        width: 35px;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: 1px;
        background-color: $main_pur;
        bottom: 0;
      }
    }

    p {
      color: #f8f9fa;
    }
  }

  #map {

    height: 500px !important;

  }

  .form-control {

    background-color: #f8f9fa;
    height: calc(1em + 0.65rem + 1.5px) !important;

    &:focus {
      box-shadow: 0 0 0 0.2rem $main_pur;
      border-color: $main_pur;
      background-color: #f8f9fa;
    }


  }

  .btn-primary {

    color: #f8f9fa;
    background-color: $main_pur;
    border-color: $main_pur;
    padding: 3px 8px;
    font-size: 14px;

    &:hover {
      background-color: $main_dark_pur;
    }

  }

  #inputMessage {
    height: 100px !important;
  }


}

.contact-section {

  //background-image: url("../img/cont-bg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;

  .layer {

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #0000005e;
  }


  .contact {

    color: #f8f9fa;

    .col-12 {
      h2 {
        color: $main_pur;
        position: relative;
        padding-bottom: 10px;

        &:after {
          position: absolute;
          content: '';
          width: 35px;
          left: 0;
          right: 0;
          margin: 0 auto;
          height: 1px;
          background-color: $main_pur;
          bottom: 0;
        }
      }

      p {
        color: #f8f9fa;
      }

    }

    .mr-50 {

      margin-right: 30px;

    }


    #map {

      height: 500px;

    }

    .form-row {

      font-size: 15px;

    }

    .form-control {

      background-color: #f8f9fa;
      height: calc(1em + .7rem + 1px);

      &:focus {
        box-shadow: 0 0 0 0.2rem $main_pur;
        border-color: $main_pur;
        background-color: #f8f9fa;
      }
    }


    #inputMessage {

      resize: none;
      height: calc(1em + .7rem + 70px) !important;
    }

    .btn-primary {

      color: $main_white;
      background-color: $main_pur;
      border-color: $main_pur;
      padding: 2px 20px;
      height: 35px;
      font-size: 14px;

      &:hover {
        background-color: $main_dark_pur;
      }


    }

  }
}

.carousel-section {
    background-color: #0000005e;
  .item {
    .col-12 {


      //background-image: url("../img/car-bg.jpg");
      background-size: cover;
      background-position: center;
      height: 800px;


      h1 {

        color: red;
        position: relative;
        top: 135px;
        left: 60px;
        padding-bottom: 10px;
        font-size: 50px;

        &:after {
          position: absolute;
          content: '';
          width: 10%;
          left: 0;
          height: 3px;
          background-color: red;
          bottom: 0;
        }

      }

      h6 {

        padding-top: 155px;
        color: black;
        font-size: 33px;
        padding-left: 90px;

      }

    }

  }
}



::placeholder {
  font-size: 12px;
}

.all-wrap {
  display: flex;
  flex-wrap: wrap;
}

.login-page {
  //background-image: url("../img/new-bg.jpg");
  background-position: center;
  background-size: cover;
}

.login-box-body {
  background-color: #fdfdfd4a;
  transition: 0.5s;

  &:hover {
    background-color: white;
  }
}

.col-xs-4 {
  .btn-primary {

    background-color: #e9e8ea;
    border-color: #673ab7;
    color: $main_pur;
    padding: 3px 8px;
    font-size: 14px;
    transition: 0.5s;

    &:hover {
      background-color: $main_dark_pur;
      color: white;
    }
  }
}

.iCheck-helper {
  color: #0f0f0f;
}

.login-logo a, .register-logo a {
  color: #fff;
}


.ore-team-section {
  background-color: #e5f7f78a;

  .container {
    .item {
      background-color: #9c9c9c2e;
      padding-bottom: 20px;
      transition: 0.5s;
      border-radius: 5px;

      &:hover {
        -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
        box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.14), -3px 0px 5px 0 rgba(0, 0, 0, 0.12), 0px 1px 4px -1px rgba(0, 0, 0, 0.3);
      }

    }

    .col-12 {

      h2 {
        color: #673ab7;
        position: relative;
        padding-bottom: 10px;

        &:after {
          position: absolute;
          content: '';
          width: 35px;
          left: 0;
          right: 0;
          margin: 0 auto;
          height: 1px;
          background-color: #673ab7;
          bottom: 0;
        }

      }

    }

    .mb-5 {
      margin-bottom: 10px !important;
    }

    .col-lg-11 {
      img {
        overflow: hidden;
        border-radius: 50%;
      }
    }
  }

  .col-10 {
    margin-top: 10px !important;

    .btn-primary {
      background-color: $main_white;
      border-color: $main_pur;
      font-size: 14px;
      transition: 0.5s;

      &:hover {
        background-color: $main_pur;
        border-color: $main_white;
      }

      &:hover > a {
        color: $main_white;
      }

      a {
        text-decoration: none;
        color: $main_pur;
      }
    }
  }

  .col-lg-10 {

    border: 5px #673ab76b solid;

    h4 {
      color: #673ab7;
      position: relative;
      padding-bottom: 10px;

      &:after {
        position: absolute;
        content: '';
        width: 35px;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: 1px;
        background-color: #673ab7;
        bottom: 0;
      }

    }

    h5 {
      color: #656565;
    }

    p {
      color: #212331;
    }
  }

}


.ore-team-page {

  background-color: #e5f7f78a;

  .container {

    .cc {
      background-color: #99a9b54d;
      padding-bottom: 20px;
      transition: 0.5s;
      border-radius: 5px;

      img {
        overflow: hidden;
        border-radius: 50%;
      }

      &:hover {
        -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
        box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.14), -3px 0px 5px 0 rgba(0, 0, 0, 0.12), 0px 1px 4px -1px rgba(0, 0, 0, 0.3);
      }
    }

    .col-12 {
      margin-top: 10px;

      h2 {
        color: #673ab7;
        position: relative;
        padding-bottom: 10px;

        &:after {
          position: absolute;
          content: '';
          width: 35px;
          left: 0;
          right: 0;
          margin: 0 auto;
          height: 1px;
          background-color: #673ab7;
          bottom: 0;
        }

      }
    }


    .col-10 {


      border: 5px #673ab76b solid;

      h4 {
        color: #673ab7;
        position: relative;
        padding-bottom: 10px;

        &:after {
          position: absolute;
          content: '';
          width: 35px;
          left: 0;
          right: 0;
          margin: 0 auto;
          height: 1px;
          background-color: #673ab7;
          bottom: 0;
        }

      }

      h5 {
        color: #656565;
      }

      p {
        color: #212331;
      }
    }

    .col-lg-10 {
      margin-top: 10px !important;

      .btn-primary {
        background-color: $main_white;
        border-color: $main_pur;
        font-size: 14px;
        transition: 0.5s;

        &:hover {
          background-color: $main_pur;
          border-color: $main_white;
        }

        &:hover > a {
          color: $main_white;
        }

        a {
          text-decoration: none;
          color: $main_pur;
          transition: 0.5s;
        }
      }
    }
  }
}

.pt-15 {
  padding-top: 100px;
}

.oreteam-view-section {

  background-color: #e5f7f78a;

  .container-fluid {
    .col-12 {

      h2 {
        color: #673ab7;
        position: relative;
        padding-bottom: 10px;

        &:after {
          position: absolute;
          content: '';
          width: 35px;
          left: 0;
          right: 0;
          margin: 0 auto;
          height: 3px;
          background-color: #673ab7;
          bottom: 0;
        }

      }

    }

    .bg-light {
      background-color: #21233147 !important;
      transition: 0.5s;

      &:hover {
        background-color: #888ba2c9 !important;
      }
    }

    .col-lg-9 {

      h4 {
        color: #673ab7;
      }


      h5 {
        color: $main_pur;
        position: relative;
        padding-bottom: 10px;

        &:after {
          position: absolute;
          content: '';
          width: 35px;
          left: 0;
          height: 2.5px;
          background-color: #673ab7;
          bottom: 0;
        }
      }

      h6 {
        color: #656565;
      }

      .end {
        position: relative;
        padding-bottom: 10px;

        &:after {
          position: absolute;
          content: '';
          width: 35px;
          left: 0;
          height: 2px;
          background-color: #656565;
          bottom: 0;
        }
      }


    }

  }

}



.form-group {
  margin-bottom: 4px;
}


.error-page {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .bg-light {
    border: 1px solid #c5c5c5;
    color: $main_pur;
    transition: 0.5s;
    width: 450px;
    max-width: calc(100% - 30px);
    padding: 15px 4px;
    text-align: center;

    h4 {
      color: red;
    }

  }


  .btn-primary {
    background-color: $main_pur;
    border-color: $main_pur;
    font-size: 15.5px;
    padding: 3.5px 5px;
    transition: 0.5s;

    &:hover {
      background-color: white;
    }

    &:hover > a {
      text-decoration: none;
      color: $main_pur;
    }


    a {
      color: white;
    }
  }

}

.footer-section {
  background-image: url(../img/footer-bg.jpg);
  background-size: cover;
  h6 {
    color: #b5b0b0;
    font-size: 14px;
  }
  h5 {
    color: $main_pur;
    position: relative;
    font-size: 24px;
    padding-bottom: 10px;
    &:after {
      position: absolute;
      content: '';
      width: 35px;
      left: 0;
      height: 2.5px;
      background-color: $main_pur;
      bottom: 0;
    }
  }
  p {
    color: white;
    font-size: 12px;
  }
  i {
    color: $main_pur;
    font-size: 15px;
  }
  a {
    color: white;
    font-size: 15px;
    &:hover {
      text-decoration: none;
      color: $main_pur;
    }
  }
}





@import "responsive";
