.dropdown-menu {
  min-width: max-content;
  background-color: #2d324070;
  font-size: 13px;
  top: 54px;
  border-radius: 0 !important; }

.dropdown-item {
  color: white; }
  .dropdown-item:hover {
    background-color: #2d324070;
    color: #e24d25; }

.dropdown-toggle {
  font-size: 14px;
  padding: 10px; }
  .dropdown-toggle:after {
    vertical-align: 0; }

.navbar {
  top: 32px;
  background-color: #2d3240a8; }
  .navbar .active {
    color: #e24d25 !important; }
  .navbar .nav-lang {
    margin-top: 8px; }
  .navbar .nav-item .nav-link {
    color: white; }
    .navbar .nav-item .nav-link:hover {
      color: #e24d25; }

.navbar .fa-bars {
  color: #e9e8ea;
  font-size: 25px; }
.navbar .navbar-toggler {
  border: none; }
.navbar .navbar-brand img {
  width: 40px; }
.navbar .nav-lan {
  color: #e9e8ea;
  border: none; }
  .navbar .nav-lan:hover {
    color: #e24d25; }

.nav-fix.active {
  top: 0; }

.mt-15 {
  margin-top: 100px; }

.menwer {
  background-color: #212331;
  color: #e9e8ea;
  position: fixed;
  top: 0;
  z-index: 9;
  font-size: 10px !important;
  border-bottom: #e24d25 solid 1px; }
  .menwer.active {
    top: -50px; }
  .menwer a {
    color: #e9e8ea;
    text-decoration: none;
    background-color: transparent; }
    .menwer a:hover {
      text-decoration: none;
      color: #e9e8ea; }
  .menwer div {
    border-color: #e24d25 !important; }
  .menwer i {
    color: #e24d25; }

.servis-section {
  background-color: #0000005e;
  padding-top: 40px;
  padding-bottom: 62px; }
  .servis-section .row .col-12 h2 {
    color: #e24d25;
    position: relative;
    padding-bottom: 10px; }
    .servis-section .row .col-12 h2:after {
      position: absolute;
      content: '';
      width: 35px;
      left: 0;
      right: 0;
      margin: 0 auto;
      height: 1px;
      background-color: #e24d25;
      bottom: 0; }
  .servis-section .row .col-12 p {
    color: #e9e8ea; }
  .servis-section .row .bg-light {
    background-color: #21233147 !important;
    transition: 0.5s; }
    .servis-section .row .bg-light:hover {
      background-color: #888ba2c9 !important; }
    .servis-section .row .bg-light h5 {
      color: #e24d25; }
    .servis-section .row .bg-light p {
      color: #e9e8ea; }
  .servis-section .row .btn-primary {
    background-color: white;
    border-color: #e24d25;
    padding: 3px 8px;
    font-size: 14px;
    transition: 0.5s; }
    .servis-section .row .btn-primary:hover {
      background-color: #462188; }
    .servis-section .row .btn-primary:hover > a {
      text-decoration: none;
      color: white; }
    .servis-section .row .btn-primary a {
      transition: 0.5s;
      color: #e24d25; }
  .servis-section img {
    border-radius: 5px; }

.car-po-nk {
  width: 45px !important;
  height: 25px !important;
  overflow: hidden; }

.servis-view-section {
  background-color: #e5f7f78a; }
  .servis-view-section .bg-light {
    background-color: #21233117 !important; }
  .servis-view-section .carousel-control-next, .servis-view-section .carousel-control-prev {
    font-size: 26px;
    width: 5%; }
  .servis-view-section .fa {
    color: #e24d25;
    font-size: 28px; }
    .servis-view-section .fa:hover {
      color: #462188; }
  .servis-view-section .pt-2 {
    color: #e24d25;
    position: relative;
    overflow: hidden;
    left: -10px; }
    .servis-view-section .pt-2:after {
      position: absolute;
      content: '';
      width: 35px;
      left: 0;
      height: 1px;
      background-color: #e24d25;
      bottom: 0; }
  .servis-view-section .col-lg-5 .carousel {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); }
  .servis-view-section .col-12 h2 {
    color: #e24d25;
    position: relative;
    padding-bottom: 10px; }
    .servis-view-section .col-12 h2:after {
      position: absolute;
      content: '';
      width: 35px;
      left: 0;
      right: 0;
      margin: 0 auto;
      height: 1px;
      background-color: #e24d25;
      bottom: 0; }
  .servis-view-section .owl-all-services a:hover {
    text-decoration: none; }
  .servis-view-section .owl-all-services a h5 {
    color: #e24d25;
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 7px; }
    .servis-view-section .owl-all-services a h5:after {
      position: absolute;
      content: '';
      width: 25px;
      left: 0;
      height: 1px;
      background-color: #e24d25;
      bottom: 0; }
  .servis-view-section .owl-all-services a p {
    color: #0f0f0f; }
  .servis-view-section .cc {
    transition: 0.5s; }
    .servis-view-section .cc:hover {
      -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); }

/*About*/
.team-section {
  position: relative;
  margin-top: 20px;
  margin-bottom: 40px;
  background-size: cover;
  background-position: center;
  padding-bottom: 40px; }
  .team-section .layer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #0e0d0d57; }

.team .col-12 h2 {
  color: #e24d25;
  position: relative;
  padding-bottom: 10px; }
  .team .col-12 h2:after {
    position: absolute;
    content: '';
    width: 35px;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 2px;
    background-color: #e24d25;
    bottom: 0; }
.team .col-12 p {
  color: #e9e8ea; }
.team .col-lg-2 {
  border-radius: 10px;
  background-color: #99a9b54d !important;
  transition: 0.3s; }
  .team .col-lg-2:hover {
    background-color: #99a9b582 !important; }
  .team .col-lg-2 h1 {
    color: #e24d25; }
  .team .col-lg-2 h5 {
    color: black; }

.about-page {
  padding-bottom: 35px;
  background-color: #e5f7f78a; }
  .about-page .row .col-12 h2 {
    color: #e24d25;
    position: relative;
    padding-bottom: 10px; }
    .about-page .row .col-12 h2:after {
      position: absolute;
      content: '';
      width: 35px;
      left: 0;
      right: 0;
      margin: 0 auto;
      height: 2px;
      background-color: #e24d25;
      bottom: 0; }
  .about-page .row .col-lg-6 h3 {
    color: #e24d25; }
  .about-page .row .row {
    background-color: #99a9b54d;
    transition: 0.3s; }
    .about-page .row .row:hover {
      background-color: #99a9b582 !important; }

.one-list .container-fluid .col-lg-8 h4, .one-list1 .container-fluid .col-lg-8 h4 {
  color: #e24d25;
  position: relative;
  font-size: 30px;
  padding-bottom: 10px; }
  .one-list .container-fluid .col-lg-8 h4:after, .one-list1 .container-fluid .col-lg-8 h4:after {
    position: absolute;
    content: '';
    width: 25px;
    left: 0;
    height: 1px;
    background-color: #e24d25;
    bottom: 0; }
.one-list .container-fluid .col-lg-8 h6, .one-list1 .container-fluid .col-lg-8 h6 {
  font-size: 15px; }
.one-list .container-fluid .btn-primary, .one-list1 .container-fluid .btn-primary {
  background-color: #e9e8ea;
  border-color: #e24d25;
  padding: 3px 8px;
  font-size: 14px;
  transition: 0.5s; }
  .one-list .container-fluid .btn-primary:hover, .one-list1 .container-fluid .btn-primary:hover {
    background-color: #462188;
    color: #e9e8ea; }
  .one-list .container-fluid .btn-primary:hover > a, .one-list1 .container-fluid .btn-primary:hover > a {
    color: #e9e8ea; }
  .one-list .container-fluid .btn-primary a, .one-list1 .container-fluid .btn-primary a {
    color: #e24d25;
    text-decoration: none;
    transition: 0.5s; }

.news-page .news .container-fluid {
  background-color: #99a9b54d;
  transition: 0.3s; }
  .news-page .news .container-fluid:hover {
    background-color: rgba(153, 169, 181, 0.51); }
  .news-page .news .container-fluid .btn-primary {
    background-color: #e9e8ea;
    border-color: #e24d25;
    padding: 3px 8px;
    font-size: 14px;
    transition: 0.5s; }
    .news-page .news .container-fluid .btn-primary:hover {
      background-color: #462188;
      border-color: #e9e8ea; }
    .news-page .news .container-fluid .btn-primary:hover > a {
      color: #e9e8ea;
      text-decoration: none; }
    .news-page .news .container-fluid .btn-primary a {
      color: #e24d25;
      transition: 0.5s; }

.news-view-section .news .row .col-12 {
  color: #e24d25; }
.news-view-section .news .row .col-lg-8 h4 {
  color: #e24d25; }

.news-section {
  background-color: #e5f7f78a; }
  .news-section .fa {
    color: #e24d25; }

.news .row .carousel-inner {
  background-color: #99a9b54d;
  transition: 0.3s; }
  .news .row .carousel-inner:hover {
    background-color: #99a9b582; }
.news .row .col-12 h2 {
  color: #e24d25;
  position: relative;
  padding-bottom: 10px; }
  .news .row .col-12 h2:after {
    position: absolute;
    content: '';
    width: 35px;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 1px;
    background-color: #e24d25;
    bottom: 0; }
.news .row .col-lg-8 h4 {
  color: #e24d25;
  position: relative;
  padding-bottom: 10px; }
  .news .row .col-lg-8 h4:after {
    position: absolute;
    content: '';
    width: 25px;
    left: 0;
    height: 1px;
    background-color: #e24d25;
    bottom: 0; }
.news .row .col-lg-8 .btn-primary:hover > a {
  color: #e9e8ea; }
.news .row .col-lg-8 .btn-primary .a {
  text-decoration: none;
  color: #e24d25; }
.news .carousel-control-next, .news .carousel-control-prev {
  font-size: 26px;
  width: 1%; }
.news .carousel-control-next {
  right: -20px; }
.news .carousel-control-prev {
  left: -20px; }

.pb-15 {
  padding-bottom: 130px !important; }

.contact-pag {
  background-size: cover;
  background-position: center;
  position: relative;
  color: #e9e8ea;
  font-size: 13px; }
  .contact-pag .layer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #00000069; }
  .contact-pag .col-12 h2 {
    color: #e24d25;
    position: relative;
    padding-bottom: 10px; }
    .contact-pag .col-12 h2:after {
      position: absolute;
      content: '';
      width: 35px;
      left: 0;
      right: 0;
      margin: 0 auto;
      height: 1px;
      background-color: #e24d25;
      bottom: 0; }
  .contact-pag .col-12 p {
    color: #f8f9fa; }
  .contact-pag #map {
    height: 500px !important; }
  .contact-pag .form-control {
    background-color: #f8f9fa;
    height: calc(1em + 0.65rem + 1.5px) !important; }
    .contact-pag .form-control:focus {
      box-shadow: 0 0 0 0.2rem #e24d25;
      border-color: #e24d25;
      background-color: #f8f9fa; }
  .contact-pag .btn-primary {
    color: #f8f9fa;
    background-color: #e24d25;
    border-color: #e24d25;
    padding: 3px 8px;
    font-size: 14px; }
    .contact-pag .btn-primary:hover {
      background-color: #462188; }
  .contact-pag #inputMessage {
    height: 100px !important; }

.contact-section {
  background-size: cover;
  background-position: center;
  position: relative; }
  .contact-section .layer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #0000005e; }
  .contact-section .contact {
    color: #f8f9fa; }
    .contact-section .contact .col-12 h2 {
      color: #e24d25;
      position: relative;
      padding-bottom: 10px; }
      .contact-section .contact .col-12 h2:after {
        position: absolute;
        content: '';
        width: 35px;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: 1px;
        background-color: #e24d25;
        bottom: 0; }
    .contact-section .contact .col-12 p {
      color: #f8f9fa; }
    .contact-section .contact .mr-50 {
      margin-right: 30px; }
    .contact-section .contact #map {
      height: 500px; }
    .contact-section .contact .form-row {
      font-size: 15px; }
    .contact-section .contact .form-control {
      background-color: #f8f9fa;
      height: calc(1em + .7rem + 1px); }
      .contact-section .contact .form-control:focus {
        box-shadow: 0 0 0 0.2rem #e24d25;
        border-color: #e24d25;
        background-color: #f8f9fa; }
    .contact-section .contact #inputMessage {
      resize: none;
      height: calc(1em + .7rem + 70px) !important; }
    .contact-section .contact .btn-primary {
      color: #e9e8ea;
      background-color: #e24d25;
      border-color: #e24d25;
      padding: 2px 20px;
      height: 35px;
      font-size: 14px; }
      .contact-section .contact .btn-primary:hover {
        background-color: #462188; }

.carousel-section {
  background-color: #0000005e; }
  .carousel-section .item .col-12 {
    background-size: cover;
    background-position: center;
    height: 800px; }
    .carousel-section .item .col-12 h1 {
      color: red;
      position: relative;
      top: 135px;
      left: 60px;
      padding-bottom: 10px;
      font-size: 50px; }
      .carousel-section .item .col-12 h1:after {
        position: absolute;
        content: '';
        width: 10%;
        left: 0;
        height: 3px;
        background-color: red;
        bottom: 0; }
    .carousel-section .item .col-12 h6 {
      padding-top: 155px;
      color: black;
      font-size: 33px;
      padding-left: 90px; }

::placeholder {
  font-size: 12px; }

.all-wrap {
  display: flex;
  flex-wrap: wrap; }

.login-page {
  background-position: center;
  background-size: cover; }

.login-box-body {
  background-color: #fdfdfd4a;
  transition: 0.5s; }
  .login-box-body:hover {
    background-color: white; }

.col-xs-4 .btn-primary {
  background-color: #e9e8ea;
  border-color: #673ab7;
  color: #e24d25;
  padding: 3px 8px;
  font-size: 14px;
  transition: 0.5s; }
  .col-xs-4 .btn-primary:hover {
    background-color: #462188;
    color: white; }

.iCheck-helper {
  color: #0f0f0f; }

.login-logo a, .register-logo a {
  color: #fff; }

.ore-team-section {
  background-color: #e5f7f78a; }
  .ore-team-section .container .item {
    background-color: #9c9c9c2e;
    padding-bottom: 20px;
    transition: 0.5s;
    border-radius: 5px; }
    .ore-team-section .container .item:hover {
      -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
      box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.14), -3px 0px 5px 0 rgba(0, 0, 0, 0.12), 0px 1px 4px -1px rgba(0, 0, 0, 0.3); }
  .ore-team-section .container .col-12 h2 {
    color: #673ab7;
    position: relative;
    padding-bottom: 10px; }
    .ore-team-section .container .col-12 h2:after {
      position: absolute;
      content: '';
      width: 35px;
      left: 0;
      right: 0;
      margin: 0 auto;
      height: 1px;
      background-color: #673ab7;
      bottom: 0; }
  .ore-team-section .container .mb-5 {
    margin-bottom: 10px !important; }
  .ore-team-section .container .col-lg-11 img {
    overflow: hidden;
    border-radius: 50%; }
  .ore-team-section .col-10 {
    margin-top: 10px !important; }
    .ore-team-section .col-10 .btn-primary {
      background-color: #e9e8ea;
      border-color: #e24d25;
      font-size: 14px;
      transition: 0.5s; }
      .ore-team-section .col-10 .btn-primary:hover {
        background-color: #e24d25;
        border-color: #e9e8ea; }
      .ore-team-section .col-10 .btn-primary:hover > a {
        color: #e9e8ea; }
      .ore-team-section .col-10 .btn-primary a {
        text-decoration: none;
        color: #e24d25; }
  .ore-team-section .col-lg-10 {
    border: 5px #673ab76b solid; }
    .ore-team-section .col-lg-10 h4 {
      color: #673ab7;
      position: relative;
      padding-bottom: 10px; }
      .ore-team-section .col-lg-10 h4:after {
        position: absolute;
        content: '';
        width: 35px;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: 1px;
        background-color: #673ab7;
        bottom: 0; }
    .ore-team-section .col-lg-10 h5 {
      color: #656565; }
    .ore-team-section .col-lg-10 p {
      color: #212331; }

.ore-team-page {
  background-color: #e5f7f78a; }
  .ore-team-page .container .cc {
    background-color: #99a9b54d;
    padding-bottom: 20px;
    transition: 0.5s;
    border-radius: 5px; }
    .ore-team-page .container .cc img {
      overflow: hidden;
      border-radius: 50%; }
    .ore-team-page .container .cc:hover {
      -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
      box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.14), -3px 0px 5px 0 rgba(0, 0, 0, 0.12), 0px 1px 4px -1px rgba(0, 0, 0, 0.3); }
  .ore-team-page .container .col-12 {
    margin-top: 10px; }
    .ore-team-page .container .col-12 h2 {
      color: #673ab7;
      position: relative;
      padding-bottom: 10px; }
      .ore-team-page .container .col-12 h2:after {
        position: absolute;
        content: '';
        width: 35px;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: 1px;
        background-color: #673ab7;
        bottom: 0; }
  .ore-team-page .container .col-10 {
    border: 5px #673ab76b solid; }
    .ore-team-page .container .col-10 h4 {
      color: #673ab7;
      position: relative;
      padding-bottom: 10px; }
      .ore-team-page .container .col-10 h4:after {
        position: absolute;
        content: '';
        width: 35px;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: 1px;
        background-color: #673ab7;
        bottom: 0; }
    .ore-team-page .container .col-10 h5 {
      color: #656565; }
    .ore-team-page .container .col-10 p {
      color: #212331; }
  .ore-team-page .container .col-lg-10 {
    margin-top: 10px !important; }
    .ore-team-page .container .col-lg-10 .btn-primary {
      background-color: #e9e8ea;
      border-color: #e24d25;
      font-size: 14px;
      transition: 0.5s; }
      .ore-team-page .container .col-lg-10 .btn-primary:hover {
        background-color: #e24d25;
        border-color: #e9e8ea; }
      .ore-team-page .container .col-lg-10 .btn-primary:hover > a {
        color: #e9e8ea; }
      .ore-team-page .container .col-lg-10 .btn-primary a {
        text-decoration: none;
        color: #e24d25;
        transition: 0.5s; }

.pt-15 {
  padding-top: 100px; }

.oreteam-view-section {
  background-color: #e5f7f78a; }
  .oreteam-view-section .container-fluid .col-12 h2 {
    color: #673ab7;
    position: relative;
    padding-bottom: 10px; }
    .oreteam-view-section .container-fluid .col-12 h2:after {
      position: absolute;
      content: '';
      width: 35px;
      left: 0;
      right: 0;
      margin: 0 auto;
      height: 3px;
      background-color: #673ab7;
      bottom: 0; }
  .oreteam-view-section .container-fluid .bg-light {
    background-color: #21233147 !important;
    transition: 0.5s; }
    .oreteam-view-section .container-fluid .bg-light:hover {
      background-color: #888ba2c9 !important; }
  .oreteam-view-section .container-fluid .col-lg-9 h4 {
    color: #673ab7; }
  .oreteam-view-section .container-fluid .col-lg-9 h5 {
    color: #e24d25;
    position: relative;
    padding-bottom: 10px; }
    .oreteam-view-section .container-fluid .col-lg-9 h5:after {
      position: absolute;
      content: '';
      width: 35px;
      left: 0;
      height: 2.5px;
      background-color: #673ab7;
      bottom: 0; }
  .oreteam-view-section .container-fluid .col-lg-9 h6 {
    color: #656565; }
  .oreteam-view-section .container-fluid .col-lg-9 .end {
    position: relative;
    padding-bottom: 10px; }
    .oreteam-view-section .container-fluid .col-lg-9 .end:after {
      position: absolute;
      content: '';
      width: 35px;
      left: 0;
      height: 2px;
      background-color: #656565;
      bottom: 0; }

.form-group {
  margin-bottom: 4px; }

.error-page {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  .error-page .bg-light {
    border: 1px solid #c5c5c5;
    color: #e24d25;
    transition: 0.5s;
    width: 450px;
    max-width: calc(100% - 30px);
    padding: 15px 4px;
    text-align: center; }
    .error-page .bg-light h4 {
      color: red; }
  .error-page .btn-primary {
    background-color: #e24d25;
    border-color: #e24d25;
    font-size: 15.5px;
    padding: 3.5px 5px;
    transition: 0.5s; }
    .error-page .btn-primary:hover {
      background-color: white; }
    .error-page .btn-primary:hover > a {
      text-decoration: none;
      color: #e24d25; }
    .error-page .btn-primary a {
      color: white; }

.footer-section {
  background-image: url(../img/footer-bg.jpg);
  background-size: cover; }
  .footer-section h6 {
    color: #b5b0b0;
    font-size: 14px; }
  .footer-section h5 {
    color: #e24d25;
    position: relative;
    font-size: 24px;
    padding-bottom: 10px; }
    .footer-section h5:after {
      position: absolute;
      content: '';
      width: 35px;
      left: 0;
      height: 2.5px;
      background-color: #e24d25;
      bottom: 0; }
  .footer-section p {
    color: white;
    font-size: 12px; }
  .footer-section i {
    color: #e24d25;
    font-size: 15px; }
  .footer-section a {
    color: white;
    font-size: 15px; }
    .footer-section a:hover {
      text-decoration: none;
      color: #e24d25; }

@media only screen and (max-width: 990px) {
  .servis-view-section .col-12 h2 {
    font-size: 28px;
    padding-bottom: 8px; }
  .servis-view-section .col-12 p {
    font-size: 15px; }
  .servis-view-section .pt-2 {
    padding-top: 20px !important;
    clear: both; } }
@media only screen and (max-width: 800px) {
  .carousel-section .item .col-12 {
    height: 400px; }
    .carousel-section .item .col-12 h1 {
      font-size: 28px;
      padding-bottom: 10px;
      left: 30px; }
      .carousel-section .item .col-12 h1:after {
        position: absolute;
        content: '';
        width: 10%;
        left: 0;
        height: 3px;
        background-color: #e24d25;
        bottom: 0; }
    .carousel-section .item .col-12 h6 {
      padding-top: 125px;
      padding-left: 100px;
      font-size: 17px; }

  .servis-section .row .col-12 h2 {
    font-size: 28px; }
  .servis-section .row .col-12 p {
    font-size: 15px; }
  .servis-section .row .bg-light h5 {
    font-size: 20px; }
  .servis-section .row .bg-light p {
    font-size: 14px; }

  .news .row .col-12 h2 {
    font-size: 28px; }
  .news .row .col-12 p {
    font-size: 15px; }
  .news .one-list .container-fluid .col-lg-8 h4 {
    font-size: 25px; }
  .news .one-list .container-fluid .col-lg-8 h6 {
    font-size: 14px; }

  .servis-view-section .col-12 h2 {
    font-size: 28px;
    padding-bottom: 8px; }
  .servis-view-section .col-12 p {
    font-size: 15px; }

  .team .col-12 h2 {
    font-size: 28px; }
  .team .col-12 p {
    font-size: 15px; }
  .team .col-lg-2 h1 {
    font-size: 25px; }
  .team .col-lg-2 h5 {
    font-size: 15px; }

  .about-page .row .col-12 h2 {
    font-size: 28px; }
  .about-page .row .col-12 p {
    font-size: 15px; }
  .about-page .row .about-page .row .col-lg-6 h3 {
    font-size: 25px; }
  .about-page .row .about-page .row .col-lg-6 p {
    font-size: 15px; }

  .contact-section .contact .col-12 h2 {
    font-size: 28px; }
  .contact-section .contact .col-12 p {
    font-size: 15px; }
  .contact-section .contact .form-row {
    font-size: 13px; }
  .contact-section .contact .btn-primary {
    padding: 0px 30px; }
  .contact-section .contact ::placeholder {
    font-size: 11px; } }
@media only screen and (max-width: 580px) {
  .carousel-section .item .col-12 h1 {
    top: 137px;
    font-size: 22px;
    left: 12px; }
  .carousel-section .item .col-12 h6 {
    padding-top: 153px;
    padding-left: 50px;
    font-size: 15px; }

  .news .row .col-12 {
    margin-top: 50px; }

  .order-sm-last {
    -ms-flex-order: 13;
    order: 13; } }
@media only screen and (max-width: 490px) {
  .navbar {
    top: 30px; }

  .menwer.active {
    top: -100px; }

  .border-right {
    border-right: 2px solid #dee2e6 !important; }

  .order-sm-last {
    -ms-flex-order: 0;
    order: 0; }

  .mt-15 {
    margin-top: 140px; }

  .footer-section {
    font-size: 20px; } }

/*# sourceMappingURL=style.css.map */
